In [1]:
import math
import numpy as np
import pandas as pd

from textblob import TextBlob

In [2]:
order_reviews = pd.read_csv('olist_order_reviews_dataset_gt.csv', encoding='utf-8', 
                            parse_dates=["review_creation_date", "review_answer_timestamp"])
order_reviews.head()

,review_id,order_id,review_score,review_creation_date,review_answer_timestamp,answer_range,comment_original,comment_en
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,2018-01-18,2018-01-18 21:46:59,1,NaN,NaN
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,2018-03-10,2018-03-11 03:05:13,1,NaN,NaN
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,2018-02-17,2018-02-18 14:36:24,2,NaN,NaN
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,2017-04-21,2017-04-21 22:02:06,1,recebi bem antes do prazo estipulado.,I received well before the deadline.
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,2018-03-01,2018-03-02 10:26:53,1,parabéns lojas lannister adorei comprar pela i...,Congratulations Lannister Stores I loved buyin...

In [3]:
order_reviews['sentiment_score'] = order_reviews['comment_en'].apply(lambda x:TextBlob(str(x)).sentiment.polarity)

 0.000000    67975
 1.000000     3027
 0.700000     1929
 0.800000     1451
 0.500000     1426
             ...
-0.100893        1
 0.456667        1
 0.496250        1
-0.006667        1
-0.220238        1
Name: sentiment_score, Length: 3685, dtype: int64

In [32]:
# order_reviews.to_csv('olist_order_reviews_dataset_final.csv', index=False, encoding='utf-8')